@page
@model AddDeviceModel


<link rel="stylesheet" href="~/css/site.css" />

<div class="center-wrapper">
    <div class="form-container">
        <h2 class="device-title"> Welkom, Nieuw Apparaat Toevoegen</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Device.Name" class="form-label">Naam van het apparaat:</label>
                <input asp-for="Device.Name" class="form-input" placeholder="Bijv. Bureaulamp" />
            </div>

            <div class="form-group">
                <label asp-for="Device.Type" class="form-label">Type lamp:</label>
                <select asp-for="Device.Type" class="form-select">
                    <option value="">-- Selecteer type --</option>
                    <option value="LED">LED</option>
                    <option value="Gloeilampen">Gloeilampen</option>
                    <option value="Slimme lamp">Slimme lamp</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Apparaat toevoegen</button>
        </form>

        <div class="add-device-link mt-4">
            <a asp-page="/Overview" class="btn-add">← Terug naar overzicht</a>
        </div>
    </div>
</div>

   

